name: Build Windows Portable EXE

on:
  push:
    branches: [ main, issue-* ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  export-windows:
    name: Windows Export
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Export game
        id: export
        uses: firebelley/godot-export@v7.0.0
        with:
          godot_executable_download_url: https://github.com/godotengine/godot/releases/download/4.3-stable/Godot_v4.3-stable_linux.x86_64.zip
          godot_export_templates_download_url: https://github.com/godotengine/godot/releases/download/4.3-stable/Godot_v4.3-stable_export_templates.tpz
          relative_project_path: ./
          archive_output: true

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-build
          path: ${{ steps.export.outputs.archive_directory }}/*
